<!-- EVENT -->

<!-- <div class="container">
    <div class="row col--6">
      <div class="margin-top">
        <h2>
            {{theActualEvent.name}}
        </h2>
  
  <br><br>
  
        <div class="white-box centered"> -->
          <!-- <img class=" avatar-size" src="{{theActualEvent.avatar}}" />  -->
          <!-- {{theActualEvent.avatar}}
        </div>
  
  
  <br><br>
  
        <div class="">
          <p class="bold">Name:</p>
          {{theActualEvent.name}}
  <br>
        </div>
  
        <div class="white-box margin-top-10">
          <p>
          <b>Bio:</b>  
  <br>
          {{theActualEvent.bio}}
          </p>
        </div>
  
  <br><br><br>
  
        <a [routerLink]="['/profile', theActualEvent._id, 'update']" class="myButton" (click)="toggleShow()" *ngIf="!shown">edit user info</a>
  
  <form (ngSubmit)="editProfile()" *ngIf="shown">
      <label for="name-input"> name </label>
      <input id="name-input" type="name" placeholder="joe" [(ngModel)]="profileInfo.name" name="nameValue">
      <br>
    
      <label for="location-input"> location</label>
      <input id="location-input" type="text" placeholder="ny" [(ngModel)]="profileInfo.location" name="locationValue">
      <br>
    
      <label for="avatar-input"> avatar </label>
      <input id="avatar-input" type="text" placeholder="img URL" [(ngModel)]="profileInfo.avatar" name="avatarValue">
      <br>
  
      <label for="bio-input"> bio </label>
      <input id="bio-input" type="text" placeholder="tell us about yourself" [(ngModel)]="profileInfo.bio" name="bioValue">
      <br>
  
      <label for="topGames-input"> favorite games </label>
      
      <select>
          <option value="Pota">Pota</option>
          <option value="200snake">200% Snake</option>
          <option value="kittyklicker">Kitty Klicker</option>
          <option value="spaceDogFight">Space Dog Fighter</option>
          <option value="georgeVsArepa">George vs Arepa</option>
          <option value="tactClicks">TactClicks</option>
          <option value="sageom">SAGEOM</option>
          <option value="kanyeSnake">Kanye Snake</option>
          <option value="mazeOrc">Maze Orc</option>
          <option value="rythmAndTime">Rythm & Time</option>
          <option value="humansVsOrc">Humans vs Orc</option>
          <option value="CountryCow">Country Cow</option>
          <option value="alienInvasion">Alien Invasion</option>
          <option value="pingPong">Ping Pong</option>
          <option value="starWarsDoodleJump">Star Wars Doodle Jump</option>
          <option value="secureTheHenny">Secure the Henny</option>
        </select>


    
  </div>
  </div> -->
  <!-- </div> -->